$cor1: #82ceff;
$bg:  #f8f8f8;


.home {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 1.5rem;
  display: grid;
  gap:2rem ;
}

.form{
  display: grid;
  gap: 1rem;
  button{
    display: block;
    padding: 1rem 2rem;
    justify-self: center;
    background-color: $cor1;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    &:hover{
      background-color: #6bbef5;
    }
  }
  input{
    display: block;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    &:hover, &:focus{
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 2px #7bc4f5, 0 0 0 4px #c5e8ff ;
    }
  }
  h3{
    text-align: center;
    color: #82ceff;    
  }
}

.conteudo{
  background-color: white;
  border-radius: 4px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  > div{
    padding-left: 1rem;
    border-left: 3px solid #7bc4f55b;
  }
  > span{
    margin-top: 1.5rem;
    justify-self: start;
  }
}

.caracteristicas{
  ul{
  list-style: none;
  display: grid;
  gap: .5rem;
  margin-top: 1rem;
}
}

.failSearch{
  text-align: center;
  font-size: 2rem;
  color: #919090;
}
.estado {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: .5rem;
}

@media (max-width: 600px){
  .home{
    margin-top: 50px;
  }
  .conteudo{
    grid-template-columns: 1fr;
    >div{
      border: none;
      border-bottom: 3px solid #7bc4f5;
      padding-bottom: 1rem;
    }
  }
}